body{
    margin:0;
    padding:0;
    background-image: url('../background.png');
}


#code-area{
    height: 100vh;
}
#section-c h3{
    font-family: monospace;
    color:white;
    font-weight: bolder;
}
#section-c{
    background-color:rgba(31, 31, 31, 0.476);
}
#code-area{
    border-bottom:14px outset rgb(5, 34, 39);

    animation-name:change_color;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes change_color{
    0%{
        border-bottom: 14px outset black;
    }
    10%{
        border-bottom: 14px outset rgba(83, 211, 24, 0.98);
    }
    20%{
        border-bottom: 14px outset rgb(242, 8, 180);
    }
    30%{
        border-bottom: 14px outset rgb(198, 124, 217);
    }
    40%{
        border-bottom: 14px outset rgb(117, 121, 222);
    }
    50%{
        border-bottom: 14px outset rgb(60, 207, 223);
    }
    60%{
        border-bottom: 14px outset rgb(173, 237, 217);
    }
    70%{
        border-bottom: 14px outset rgb(234, 255, 0);
    }
    80%{
        border-bottom: 14px outset rgb(60, 224, 10);
    }
    90%{
        border-bottom: 14px outset rgb(255, 42, 0);
    }
    100%{
        border-bottom: 14px outset rgb(138, 0, 0);
    }
}
.bx-code-block{
    color:rgb(189, 219, 54);
    font-size:3rem;
}

#Themes li{
    list-style: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-self: center;
    margin-right: 10px;
    box-shadow:0px 0px 0px black;
    transition: box-shadow 500ms;
    cursor: pointer;
}
#Themes li:hover{
    box-shadow: 0px 0px 5px black;
}
#vs{
    background-color: rgb(232, 230, 228);
}
#vs-dark{
    background-color: rgb(71, 28, 51);
}
#hc-black{
    background-color: rgb(0, 0, 0);
}
.bx-terminal{
    color:rgb(189, 219, 54);
    font-size:3rem;
}


#section-t{
background-color: rgb(0, 0, 0);
}

#curr_lang{
    font-family: monospace;
    font-size: 1.2rem;

}
#selectLanguage{
    background-color: whitesmoke;
    color:rgb(3, 4, 1);
    font-weight: bold;
    font-family: monospace;
    padding:15px;

}

#live-code{
    font-family: monospace;
    font-size: 1.4rem;
    
}
.bx-run{
    font-size: 1.7rem;
}
.bxs-circle{
    background-color:red;
    color:red;
    font-size: 1.3rem;
    border-radius: 50%;
}
#output-area{
    background-color: white;
    border-left: 1px solid black;
       
}

#output-area h3{
    font-weight: bolder;
    color:white;   
    font-family: monospace;
 
}