#page-heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color:rgb(15, 27, 15);
  font-weight: bolder;
  font-style: italic;
  font-size: 40px;
}
#page-heading::before{
  content:"SG";
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 9.0rem;
  font-style: italic;
  color:rgb(2, 69, 36);

}