#page-heading{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color:rgb(15, 27, 15);
  font-weight: bolder;
  font-style: italic;
}
#page-heading::before{
  content:"S";
  font-family: monospace;
  font-size: 9.9rem;
  font-style: italic;
  color:rgb(0, 128, 107);

}